In [2]:
import pandas as pd

In [3]:
# https://goo.gl/1oz6Xf
movies_df = pd.read_csv('movie_metadata.csv')

In [5]:
movies_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [23]:
# Filmes são avaliados de forma melhor se forem coloridos?
mean_by_color = movies_df.groupby('color')['imdb_score'].mean().reset_index()
count_by_color = movies_df.groupby('color')['imdb_score'].count().reset_index()

In [29]:
mean_by_color

              color  imdb_score
0   Black and White    7.227273
1             Color    6.409533

In [25]:
count_by_color

              color  imdb_score
0   Black and White         209
1             Color        4815

In [34]:
movies_df.groupby('director_name')['color'].count()

director_name
A. Raven Cruz                  1
Aaron Hann                     1
Aaron Schneider                1
Aaron Seltzer                  1
Abel Ferrara                   1
Adam Brooks                    1
Adam Carolla                   1
Adam Goldberg                  1
Adam Green                     1
Adam Jay Epstein               1
Adam Marcus                    1
Adam McKay                     6
Adam Rapp                      1
Adam Rifkin                    2
Adam Shankman                  8
Adrian Lyne                    4
Adrienne Shelly                1
Agnieszka Holland              1
Agnieszka Wojtowicz-Vosloo     1
Agustín Díaz Yanes             1
Aki Kaurismäki                 1
Akira Kurosawa                 2
Akiva Goldsman                 1
Akiva Schaffer                 3
Al Franklin                    1
Al Silliman Jr.                1
Alain Resnais                  1
Alan Alda                      1
Alan Cohn                      1
Alan J. Pakula                 2
                              ..
William Phillips               1
William Sachs                  1
William Shatner                1
William Wyler                  1
Wilson Yip                     1
Wolfgang Becker                1
Wolfgang Petersen              7
Woo-Suk Kang                   1
Woody Allen                   22
Wych Kaosayananda              1
Xavier Beauvois                1
Xavier Gens                    2
Yarrow Cheney                  1
Yash Chopra                    2
Yimou Zhang                    8
Yorgos Lanthimos               1
Youssef Delara                 2
Yuefeng Song                   1
Zach Braff                     2
Zach Cregger                   1
Zack Snyder                    8
Zack Ward                      1
Zackary Adler                  0
Zak Penn                       1
Zal Batmanglij                 2
Zoran Lisinac                  1
Álex de la Iglesia             1
Émile Gaudreault               1
Éric Tessier                   1
Étienne Faure                  1
Name: color, Length: 2398, dtype: int64

In [41]:
movies_df[movies_df['imdb_score'] > 9]['movie_title']

1937        The Shawshank Redemption
2765    Towering Inferno
2824             Dekalog
3207             Dekalog
3466                   The Godfather
4409            Kickboxer: Vengeance
Name: movie_title, dtype: object

In [37]:
movies_df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [42]:
df_r = pd.read_csv('rouanet.csv')

In [52]:
df_r.groupby(['proponente'])['valor_aprovado'].sum().reset_index().sort_values(['valor_aprovado'])

                                           proponente  valor_aprovado
97                                  WILLIAM HEGENBERG        38192.00
32          CENTRO DE TRADICOES GAUCHAS RONDA CRIOULA        49515.40
42                     FRANCISCO FELIPE DE PAULA NETO        50155.82
2                         Sociedade Porvir Científico        54714.88
18                    ASSOCIAÇÃO PAULISTA DE MEDICINA       100529.00
11                                ANDRE YUKI YOSHIKAI       105963.00
21                        Aristeu Oliveira dos Santos       110484.00
45                            Gabriel Rodrigues Silva       113836.80
6                      ADERE PRODUCOES ARTISTICA LTDA       114972.00
98                          Wagner Raimundo Gonçalves       117912.00
76                              NATALIA TAVARES SOUZA       118475.50
48                     INSPETORIA SALESIANA SAO PIO X       160382.38
96                         VITROLA PRODUTORA - EIRELI       162162.00
17                         ASSOCIACAO VISITE POMERODE       174613.89
19       AUTOMATICA EDIÇÕES E PROJETOS CULTURAIS LTDA       176970.51
40                              EUDES JACOME DE SOUZA       180386.25
47                             IBERE SANTOS DE ARAUJO       181112.04
46                     Geisa Müller de Campos Ribeiro       190960.00
15                       ASSOCIACAO COMUNITARIA NORTE       191558.40
75              Maria da Penha Mendes Furquim Werneck       194748.84
86                         Rede Circo do Mundo Brasil       196297.20
52                              INSTITUTO SERRA VERDE       196612.91
60                    JORGE RICARDO CAMILO DOS SANTOS       196782.30
71                                MAURICIO SILVA VALE       197505.00
69  MARCELO GAMA E MELLO DE MAGALHAES PINTO 050547...       198230.56
67                         LUCIA TEIXEIRA DE CARVALHO       198434.50
43  GREMIO RECREATIVO CULTURAL E SOCIAL E CARNAVAL...       198528.00
44                            GUSTAVO ZINDER DA SILVA       198642.15
65                    LEANDRO BRILHANTE LEAL DA SILVA       198922.90
8                       ALEXANDER CUNHA DO NASCIMENTO       199002.10
..                                                ...             ...
23                               Associação Crescente       343049.85
55           Instituto de Cultura Contemporanea - ICC       390192.00
57                           Isabel Francisco Moreira       471339.00
29                             Bora La Produções Ltda       493092.84
78                          Noeli Fernandes Feijão ME       506467.50
87                            Robert Silva de Meneses       542211.21
54                 Indiana Produções Cinematográficas       575942.40
56  Instituto para o Desenvolvimento Sustentável -...       596799.10
50                               INSTITUTO JOÃO AYRES       691193.25
34                       Centro de Artesanato Mineiro       715709.04
51                       INSTITUTO QUEIROZ JEREISSATI       776803.50
12            ARTESALIS PRODUCOES ARTISTICAS LTDA EPP       814469.04
62                            João Batista dos Santos       825474.37
82                     Quadrante Arte Comercial Ltda.       979507.72
7                      AF DA SILVA FILMES E PRODUÇÕES       995097.40
68              Luz Tropical Cultura e Produções LTDA       997519.93
80  PERFORMAS PRODUCOES ARTISTICAS E SOCIO-CULTURA...       997531.92
4              AB & Baldi Serviços de Digitação Ltda.       997959.60
31  CDPD-RJ CENTRO DE DOCUMENTACAO E PESQUISA EM D...       998999.10
35       Ciranda de 3 Trupe Produções Artísticas Ltda       999891.20
83  RIBEIRO & MACHADO PRODUÇÃO, PROMOÇÃO E ORGANIZ...      1090981.79
41              Eder San Cinematográfica e Arte LTDA.      1293071.00
24                 Associação Cultural Sempre Um Papo      1401820.00
26  Associação de amigos do Festival de Música de ...      1408101.67
77         Next Produções Artísticas e Marketing Ltda      1546525.00
49               INSTITUTO DO TEATRO BRASILEIRO - ITB      1647464.50
3                      3D3 COMUNICACAO E CULTURA LTDA      1695245.50
30           CALINA PROJETOS CULTURAIS E SOCIAIS LTDA      1906625.00
5   ABLUTEC - Associação Blumenauense de Turismo, ...      2949126.55
0                  OCEANOS CULTURA E COMUNICAÇÃO LTDA      3046550.50

[100 rows x 2 columns]

In [56]:
voos = pd.read_csv('voos.csv', delimiter=';')

In [57]:
voos.head()

,sg_empresa_icao,nr_voo,cd_di,cd_tipo_linha,sg_icao_origem,sg_icao_destino,dt_partida_prevista,dt_partida_real,dt_chegada_prevista,dt_chegada_real,situacao,cd_justificativa
0,TAM,3795,0.0,N,SBSV,SBSP,21/12/2019 14:25,21/12/2019 14:26,21/12/2019 17:00,21/12/2019 16:50,REALIZADO,NaN
1,AZU,5170,0.0,N,SBPA,SBFI,22/12/2019 12:45,22/12/2019 12:38,22/12/2019 14:05,22/12/2019 14:00,REALIZADO,NaN
2,AEA,83,0.0,I,LEMD,SBSV,24/12/2019 11:25,24/12/2019 12:01,24/12/2019 20:55,24/12/2019 20:59,REALIZADO,RA
3,TAM,3744,0.0,N,SBSP,SBRP,18/12/2019 15:15,18/12/2019 15:12,18/12/2019 16:20,18/12/2019 16:09,REALIZADO,NaN
4,AZU,5700,0.0,N,SBRF,SBSG,17/12/2019 23:20,17/12/2019 23:20,18/12/2019 00:25,18/12/2019 00:25,REALIZADO,NaN

In [78]:
voos[voos['sg_empresa_icao'] == 'AVA'].groupby(['situacao', 'sg_empresa_icao']).count()

,,nr_voo,cd_di,cd_tipo_linha,sg_icao_origem,sg_icao_destino,dt_partida_prevista,dt_partida_real,dt_chegada_prevista,dt_chegada_real,cd_justificativa
situacao,sg_empresa_icao,,,,,,,,,,
REALIZADO,AVA,217,217,217,217,217,217,217,217,217,130